{% extends 'layout.html.twig' %}

{% block body %}
    <div id="started">
        <div class="row text-center" id="device">
            <div class="col-md-4">
                <img src="/assets/img/iphone.png" id="i_phone" width="10%" height="10%">
            </div>
            <div class="col-md-4">
                <img src="/assets/img/macbook.png" id="i_portable" width="50%" height="50%">
            </div>
            <div class="col-md-4">
                <img src="/assets/img/imac-flat-mockup.png" id="i_ecran" width="50%" height="50%">
            </div>
        </div>
        <div class="row" id="text">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-12">1. Prenez une photo de vous avec un beau paysage</div>
                </div>
                <div class="row">
                    <div class="col-md-11 col-md-offset-1 col-xs-offset-0">2. Publiez là sur votre compte Facebook</div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-2 col-xs-offset-0">3. Invitez vos amis à voter pour votre photo !</div>
                </div>
            </div>

            <div class="col-md-4 btnFacebook">
                <a href="{{ loginUrl }}"><img src="/assets/img/login.png"></a>
            </div>
        </div>
    </div>
{% endblock %}